body{
    margin: 0;
}

.caixa{
    background-color: #000000;
    width: 100%;
    position: fixed;
    opacity: 0.96;
}

.caixa-cabecalho{
    display: flex;
    color: #FFFFFF;
    justify-content: space-between;
}

.color1{
    color: red;
}

.logo1{
    height: 6%;
    width: 6%;
    padding:10px ;
    margin-left: 20px;
}

.titulo{
    color: #FFFFFF; 
    margin:30px 400px  0 -120px;
    font-size: 36px;
}

.caixa-ul{
    display: flex;
    list-style-type: none;
    margin: 0 0 0 -124px;
}

.caixa-li{
    padding: 30px;
    color: #FFFFFF;
    font-size: 19px;
    justify-content: space-between;
}

.color2{
    color:red;
}

.pesquisa{
    margin: 30px 30px 0 0;
    height: 50px;
}

.pesquisa input{
    background-image: url(lupa.png);
    background-size: 10%;
    background-repeat: no-repeat;
    background-position: 94%;
    height: 22px;
}